nav {
  background-color: #94618E; }

#carouselExampleIndicators .carousel-inner {
  height: 500px; }
  #carouselExampleIndicators .carousel-inner img {
    height: 500px;
    object-fit: cover;
    vertical-align: middle; }

@media only screen and (min-width: 1100px) {
  #carouselExampleIndicators .carousel-indicators, #carouselExampleIndicators a {
    opacity: .1; }
  #carouselExampleIndicators .carousel-indicators:hover, #carouselExampleIndicators a:hover {
    opacity: 1; }
  #carouselExampleIndicators .carousel-inner img {
    height: 900px; } }

.jumbotron {
  margin: 0;
  background-color: #f8eee7;
  color: #49274A; }

.btn-primary {
  background-color: #94618E;
  border: #94618E; }

.btn:hover {
  background-color: #49274A;
  border: #49274A; }

footer {
  background-color: #94618E;
  min-height: 40px;
  color: white;
  bottom: 0; }

.nav-pills .nav-link.active {
  background-color: #49274A;
  color: white; }

.nav-pills .nav-link {
  background-color: #94618E; }

.nav-pills a {
  color: white; }

@media screen and (min-width: 1100px) {
  .col-8 .scrollspy-example-2 {
    height: 875px; } }

.scrollspy-example-2 {
  position: relative;
  height: 493px;
  overflow: auto; }
  .scrollspy-example-2 .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px; }
  @media only screen and (min-width: 1100px) {
    .scrollspy-example-2 .row .column {
      flex: 25%;
      margin: 0 4px; } }
  .scrollspy-example-2 .column {
    flex: 100%;
    max-width: 100%; }
    .scrollspy-example-2 .column img {
      vertical-align: middle;
      width: 100%;
      margin-top: 4px; }

.card {
  width: 18rem;
  margin: 0 auto; }

@media only screen and (min-width: 1100px) {
  body .card {
    width: 34rem; } }

.formContainer {
  padding-bottom: 20px; }
  .formContainer .btn {
    margin: 20px 0; }
