$grape: #94618E;
$eggplant: #49274A;
$sand: #f4dECb;
$shell: #f8eee7;

$bigScreen: 1100px;

nav {
  background-color: $grape;
}

#carouselExampleIndicators {
  .carousel-inner {
    height: 500px;
    img {
      height: 500px;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  @media only screen and (min-width: $bigScreen) {
    .carousel-indicators, a {
      opacity: .1;
    }

    .carousel-indicators:hover, a:hover {
      opacity: 1;
    }
    .carousel-inner {
      img {
        height: 900px;
      }
    }
  }
}

.jumbotron {
  margin: 0;
  background-color: $shell;
  color: $eggplant;

}

.btn-primary {
  background-color: $grape;
  border: $grape;
}

.btn:hover {
  background-color: $eggplant;
  border: $eggplant;
}

footer {
  background-color: $grape;
  min-height: 40px;
  color: white;
  bottom: 0;
}

//art page
.nav-pills {
  .nav-link.active {
    background-color: $eggplant;
    color: white;
  }

  .nav-link {
    background-color: $grape;
  }

  a {
    color: white;
  }

}

@media screen and(min-width: $bigScreen) {
  .col-8 .scrollspy-example-2 {
    height: 875px;
  }
}

.scrollspy-example-2 {
  position: relative;
  height: 493px;
  overflow: auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px;
  }

  @media only screen and (min-width: $bigScreen) {
    .row .column {
      flex: 25%;
      margin: 0 4px;
    }
  }

  .column {
    flex: 100%;
    max-width: 100%;

    img {
      vertical-align: middle;
      width: 100%;
      margin-top: 4px;
    }
  }
}

//about page
.card {
  width: 18rem;
  margin: 0 auto;
}

@media only screen and (min-width: $bigScreen) {
  body {
    .card {
      width: 34rem;
    }
  }
}

.formContainer {
  padding-bottom: 20px;

  .btn {
    margin: 20px 0;
  }
}

